<!-- <nav class="navbar navbar-dark bg-dark mb-5"> -->
<!-- logo -->
<!--   <a routerLink="/welcome">
    <img class="logo rounded" src="assets/img/anonas.jpg">
  </a>
  
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav> -->
<!-- <div class="navbar col-xs-4 col-sm-3 col-lg-1 fixed-top" style="background-color: green;"> -->
<!-- logo -->
<div class="">
  <div class="logo-container">
    <a routerLink="/welcome">
   <!-- img-fluid =skaluje obraz-->
    <img class="rounded d-none d-sm-block" src="assets/img/anonas-normal.jpg">
    <img class="rounded d-block d-sm-none" src="assets/img/anonas-small.jpg">
  </a>
  </div>
  <!-- przyciski nawigacji -->
  <div class="navigation-container">
    <app-navigation-menu></app-navigation-menu>
  </div>
</div>
