.logo-container {
  padding: 5px;
  background-color: red;
  overflow: visible;
  width: 210px;
  border-radius: 0 0 5px 0;
}

@media only screen and (max-width: 576px) {
  .navigation-container {
  	text-align: center;
    height: initial;
    background-color: blue;
    /*float:left;*/
    display: inline;
    /*position: absolute;*/
    /*position: fixed;*/
    border-radius: 0;
    /*height: 100%;*/
  }

  .logo-container{
  	height: initial;
  	width: initial;
    position: absolute;
  	/*float:left;*/
  	display: inline;
  	overflow: auto;
  	/*width: 100px;*/
  	background-color: yellow;
  }
}
